# Ignorar caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos con variables de entorno y secretos
*.env

# Ignorar bases de datos Airflow
taller_airflow/postgres_data/
taller_airflow/mysql_data/
taller_airflow/plugins/
taller_airflow/logs/
proyecto_3/proyecto_3/airflow/logs

# Ignorar entornos virtuales
venv/
.env/

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar logs y archivos temporales
*.log
.DS_Store

# Ignorar archivos de swap de Vim
*.swp

# Ignorar Zone Identifier
*.Zone.Identifier

